.selector-for-some-widget {
  box-sizing: content-box;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img{
  height: 200px;
  width: 200px;
}